<h1>New Car</h1>

<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Nissan GTR">
  </div>
  <div class="form-group">
    <label for="exampleInputPrice2">Price</label>
    <input type="text" class="form-control" id="exampleInputPrice2" placeholder="1400">
  </div>
  <div class="form-group">
    <label for="exampleInputDescription2">Description</label>
    <input type="text" class="form-control" id="exampleInputDescription" placeholder="description">
  </div>
  <button type="submit" class="btn btn-default">Create Listing</button>
</form>