img{
  margin:auto;
  display:block;
  width:400px;
  text-align:center;
}

h1{
  margin:auto;
  padding:auto;
  color:white;
  text-align:center; 
}
#supplier{
  color:red;
}
h4{
  margin:auto;
  padding:auto;
  color:white;
  text-align:center; 
}

h2{
  text-align: center;
}

body{
  font-family: "Lucida Bright",Georgia,serif;
  background-image:url('real_cf.png')
}

label{
  color:white;
}

#items{
  height:auto;
  padding:auto;
  text-align:center;
  margin:auto;
}

#buy_now{
  text-align: center;
  padding-top: 10px;
}


p{
  text-align: center;
  font-size: 35px;
  color:white;
  line-height: 20px;
  padding-top: 10px;
}

