img{
  margin:auto;
  display:block;
  height:auto;
  width:300px;
  text-align:center;
}

h1{
  margin:auto;
  padding:auto;
  background-color:blue;
  color:black;
  font-family:arial;
  text-align:center; 
}